* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #E2E8F0;
  height: 100vh;
  font-family: "Alan Sans", sans-serif;
}

#container {
  margin-inline: 3rem;
  margin-top: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #logo {
  width: 60px;
  margin-top: -14px;
}

header nav {
  display: flex;
  gap: 28px;
  align-items: center;
  padding: 14px 24px;
  border-radius: 6px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.1);
}



header nav ul {
  display: flex;
  gap: 44px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: rgb(27, 27, 27);
}

header nav ul li a:hover {
  color: rgb(105, 104, 104);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  margin-top: 2.5rem;
}

#container-titles {
  text-align: center;

  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

#container-image-home img {
  width: 42rem;
}

#container-about-enterprise {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;

  gap: 3rem;
}


#container-about-enterprise button {
  background-color: #da6c13;
  padding: 16px 14px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: white;
  font-weight: 400;
  font-size: 18px;

}


.footer {
  margin-top: 2rem;
  background-color: #f8f9fa;
  color: #495057;
  padding: 4rem 2rem;

  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.footer-column {
  flex: 1 1 200px;
  margin-bottom: 2rem;
}

.footer-column h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #343a40;
}


.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 0.75rem;
}

.footer-column ul li span {
  font-weight: bold;
}

.footer-column ul li a {
  text-decoration: none;
  color: #495057;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #007bff;
}


.social-links li {
  display: inline-block;
  margin-right: 1.5rem;
}

.social-links li a {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding-top: 2rem;
  border-top: 1px solid #dee2e6;
  margin-top: 2rem;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.9rem;
  color: #6c757d;
}